[Unit]
Description=uWSGI instance to serve {{ app_name }}

[Service]
User=root
ExecStart=/bin/bash -c 'cd /var/www/{{ app_name }}/{{ app_name }}; uwsgi --ini {{ app_name }}.ini 2>&1'

[Install]
WantedBy=multi-user.target
